.ruby-gemset
.*.swo
.*.swp
.*.un~
.DS_Store
.bundle
.rvmrc
VERSION
config/database.yml*
coverage
db/*.db
db/*.sqlite3
doc/*
html
log/*.db
log/*.log
log/*.pid
pkg/
public/doc/
rainbows.conf
ruote_work
tags
test/cache/
test/reports/
tmp/
tmtags
vendor/
.tags
.idea/
